/**
 * =========================================
 * Variáveis e Estrutura Global
 * =========================================
 */

:root {
    --primary: #D35400;
    --secondary: #F39C12;
    --light: #ffffff;
    --dark: #292929;
    --bg: #FAEDDF;
    --primary_danger: #E74C3C;
    --secondary_danger: #c0392b;
}

/* Reset básico e tipografia */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--bg);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Container Principal */
.container {
    max-width: 80%;
    margin: 2rem auto;
    background: var(--light);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


h2 {
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 5px;
    color: var(--primary);
}

/* Header e Navegação */
header {
    background-color: var(--primary);
    color: var(--light);
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

nav {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}